<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alfa 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Alfa 2</h1>
            <p>Alfa 2 is a simple web application that allows you to shorten desired text based on the mighty Table of shortages &#169;</p>
        </div>
    </div>
    <a href="./assignment.php">Assignment</a>
    <!-- Import of text file -->
    <form>
        <div class="form-control">
            <label for="formFile" class="form-label">Import text file</label>
            <input class="form-control" type="file" id="formFile">
        </div>
    </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>